replicaCount: 2

image:
  repository: 155466261957.dkr.ecr.eu-central-1.amazonaws.com/django-app-repo-8
  tag: v1.0.2
  pullPolicy: Always

service:
  type: LoadBalancer
  port: 80
  targetPort: 8000

autoscaling:
  enabled: true
  minReplicas: 2
  maxReplicas: 6
  targetCPUUtilizationPercentage: 70

config:
  DJANGO_ENV: "production"
  DEBUG: "True"
  ALLOWED_HOSTS: "a65ce38465bb94e899b7adc7144aa7c0-926963597.eu-central-1.elb.amazonaws.com"
